{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <h1>Delivery Report</h1>
{#        {% for report in reports %}#}
{#            <ul>#}
{#                <p class="date">{{ delivery.delivery_date }}</p>#}
{#                <p class="delivered_product">{{ delivery.product.name }}</p>#}
{#                <p class="quantity">{{ delivery.quantity_delivered }}</p>#}
{#                <button> See details </button>#}
{#            </ul>#}
{#        {% empty %}#}
{#            <li>#}
{#                No deliveries.#}
{#            </li>#}
{#        {% endfor %}#}

        <table class="reports">
            <thead>
                <tr>
                    <th>Delivery Date</th>
                    <th>Product Name</th>
                    <th>Quantity Delivered</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ delivery.delivery_date }}</td>
                        <td>{{ delivery.product.name }}</td>
                        <td>{{ delivery.quantity_delivered }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}