{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <h1>Delivery Report</h1>
        <table class="reports">
            <thead>
                <tr>
                    <th>Delivery Date</th>
                    <th>Product Name</th>
                    <th>Quantity Delivered</th>
                </tr>
            </thead>
            <tbody>
                {% for delivery in all_deliveries %}
                    <tr>
                        <td>{{ delivery.delivery_date }}</td>
                        <td>{{ delivery.product.name }}</td>
                        <td>{{ delivery.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}