{% extends 'base/base.html' %}

{% block page_content %}

    <h1>Your Cart</h1>
    {% if cart_items %}
        <table>
            <thead class="table-head">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for cart_item in cart_items %}
                    <tr>
                        <td>{{ cart_item.product.name }}</td>
                        <td>{{ cart_item.quantity }}</td>
                        <td>{{ cart_item.product.price }}</td>
                        <td>{{ cart_item.total_price }}</td>
                        <td>{{ cart_item.total_cost}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="total-price">Total Order Cost: {{ total_order_cost }}</p>
        <form method="post" action="{% url 'place_order' %}">
            {% csrf_token %}
            <input type="hidden" name="cart_id" value="{{ cart_items.0.cart.pk }}"> <!-- Use the first cart item to get the cart ID -->
            <button type="submit">Place Order</button>
        </form>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}