{% extends 'base/base.html' %}

{% block page_content %}
    <h1>Your Cart</h1>
    {% if cart_items %}
        <table>
            <thead class="table-head">
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-body">
            {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }} </td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.total_price }}</td>
                    <td>
                        <a href="{% url 'remove_from_cart' item.product.slug %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="total-price">Total Order Cost: {{ total_order_cost }}</p>
        <form action="{% url 'place_order' %}" method="post">
            {% csrf_token %}
            <!-- Add other fields and form elements here, if any -->
            <input type="hidden" name="product" value="{{ product.id }}">
            <input type="submit" value="Place Order">
        </form>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}