<header class="promo_products">
    <h2>Promotions!!!</h2>
    <div class="promotions">
        {% for promo in promo_products %}
            <ul>
                <h2>{{ promo.product.name }}</h2>
                <img src="{{ promo.product.product_image }}" alt="{{ promo.product.name }}">
                <p><s class="price">{{ promo.product.price }}<i>lv.</i></s></p>
                <p class="discount-price">{{ promo.discounted_price }}<i>lv.</i></p>
                <p class="quantity">{{ promo.product.product_quantity }}<i> kg/one piece</i></p>
                <p class="percentage">{{ promo.discount_percentage }}<i>% discount</i></p>
                <form method="post" action="{% url 'add_to_cart' promo.product.slug %}">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="1">
                    <button type="submit">Add to Cart</button>
                </form>
            </ul>
        {% empty %}
            <li>
                No products in this category.
            </li>
        {% endfor %}
    </div>
</header>