{% extends 'base/base.html' %}
{% load  static %}

{% block page_content %}

<h1>Promo Products</h1>

    <header>
        <div class="promotions">
        {% for promo in promo_products %}
        <ul>
            <h2>{{ promo.product.name }}</h2>
            <img src="{{ promo.product.product_image }}" alt="{{ promo.product.name }}">
            <p><s class="price">{{ promo.product.price }}<i>lv.</i></s></p>
            <p class="discount-price">{{ promo.discounted_price }}<i>lv.</i></p>
            <p class="quantity">{{ promo.product.product_quantity }}<i>gr.</i></p>
            <p class="percentage">{{ promo.discount_percentage }}<i>%</i></p>
            <form method="post" action="{% url 'add_to_cart' promo.product.slug %}">
                {% csrf_token %}
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Add to Bag</button>
            </form>
        </ul>
        {% empty %}
        <li>
            No products in this category.
        </li>
        {% endfor %}
        </div>
    </header>

{% endblock %}