body > main > header > h2{
    color: white;
    background: orange;
    border: 1px solid rgb(156, 152, 152);
    border-color: gray;
    border-radius: 5px;
    padding-left: 50px;
    font-family: "Helvetica", sans-serif;
}

.table-head tr th{
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.table-body tr td{
    padding: 0 20px 0 20px;
    font-family: 'Raleway', sans-serif;
}